<template>    
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <form @submit="sendMessage" class="was-validated">

                    
                    

                    <div class="form-group">
                        <label for="uname">Name:</label>
                        <input v-model="name" type="text" class="form-control" id="uname" placeholder="Enter your name" name="name" required >
                    </div>

                    <div class="form-group">
                        <label for="uname">Email:</label>
                        <input v-model="email" type="text" class="form-control" id="uname" placeholder="Enter your email" name="email" required >
                    </div>

                    <div class="form-group">
                        <label for="uname">Message:</label>
                        <textarea v-model="message" class="form-control" name="message" placeholder="Please enter you message here" required ></textarea>
                    </div>

                    <button v-if="formSending == false" type="submit" class="btn btn-primary">Submit</button>
                    <div v-if="formSending == true" class="btn btn-primary">Sending message</div>


                </form>

            </div>



        </div>

    </div>

</template>

<script>
export default {
    data(){
        return{
            loaded: false,
            formSending: false,

            name: null,
            email: null,
            message: null,
            buttonText: 'Click me to change my text to name text'
        }
    },
    mounted(){

    },
    methods:{
        sendMessage(e){
            
            e.preventDefault();

            const self = this;

            self.formSending = true;


            Vue.axios.post('/contact-us/sendmessage/ajax',{
                name: self.name,
                email: self.email,
                message: self.message
            })
            .then(response=>{

                //alert('thank you! Your message has been sent!');
                alert(response.data.message);

                self.formSending = false;

                self.name = null;
                self.email = null;
                self.message = null;

            })
            .catch(error => {
                alert('sorry failed');
                console.log(error);

                self.formSending = false;
            })

        }
    }

}
</script>
